<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatLovers Paradise</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="navbar">
        <div class="logo">CatLovers Paradise</div>
        <div class="links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>            
        </div>
    </div>

    <div class="main-content" style="text-align: center; padding-top: 50px;">
        <h1>Hey Cat Lovers, Check Out Cataas!</h1>
        <p>Explore random cats, by hitting the refresh button. Support the project and enjoy a paw-some experience!</p>
<br><br><br>
        <img class="homeimg" src="<%= catimage || 'css/hello.jpg' %>" alt="Cat Image" onerror="this.onerror=null; this.src='css/hello.jpg';">
        <br>
 
    </div>
    

    <footer>
        <p>&copy; <%=year%> CatLovers Paradise. All rights reserved. <br><a href="#privacy">Privacy Policy</a> 
        <a href="pavani9419@gamil.com">pavani9419@gmail.com</a></p>
    </footer>
</body>
</html>
