<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CatLovers Paradise</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
    <div class="navbar">
        <div class="logo">CatLovers Paradise</div>
        <div class="links">
            <a href="/about">About</a>
            <a href="/contact">Contact</a>            
        </div>
    </div>

    <div class="logo-container">
        <img src="css/logo.jpg" alt="Cat Logo">
        <br>
        <h1>Welcome To!</h1>
        <h1>CatLovers Paradise</h1>
    </div>

    <div class="container">
        <h1>SignUp or Login</h1>
        <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>

    <footer>
        <p>&copy; 2024 CatLovers Paradise. All rights reserved. <br><a href="#privacy">Privacy Policy</a> 
        <a href="pavani9419@gamil.com">pavani9419@gmail.com</a></p>
    </footer>
</body>
</html>
